anthropic==0.3.2
evaluate==0.4.0
jupyterlab
markdown-it-py<3.0.0,>=1.0.0
numpy==1.24.4
openai==0.27.8
pandas==2.0.3
pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4
ray==2.5.1
requests==2.31.0
scikit-learn==1.3.0
transformers==4.28.1
wandb==0.15.5
datasets==2.7.1
torch==1.13.0
scipy==1.7.3
accelerate>=0.13.2
sentencepiece!=0.1.92
protobuf==3.20.*
deepspeed>=0.7.4
click==8.1.3